@import "tailwindcss";

@theme {
  --color-headfoot: #F8F3D9;
  --color-main: #B9B28A;
  --color-third: #EBE5C2;
  --color-fourth: #504B38;
}

@layer base {
  main {
    @apply p-2 sm:p-4 md:p-8 lg:p-12 min-h-[calc(100vh-var(--headH)-var(--footH))] bg-main
  }
}

@layer components {
  .resPadding {
    @apply px-2 sm:px-4 md:px-8 lg:px-12
  }

  .header {
    @apply h-[var(--headH)]
  }


}

:root {
  --headH: 64px;
  --footH: 64px;
}