.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 100%;
}
.form input {
    padding: 20px;
    color: var(--textColor);
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

.button {
    width: 100%;
    background-color: var(--color-third);
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}