@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-headfoot: #000814;
  --color-main: ;
  --color-third: #222;
  --color-fourth: #504B38;
  --color-anti: ;
  --color-disabled: ;
  --color-text: ;
  --breakpoint-xs: 30rem;
}

:root {
  --mainH: calc(100vh - var(--headH) - var(--footH));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

[data-theme='light'] {
  --color-headfoot: gray;
  --color-main: white;
  --color-text: #080708;
}

[data-theme='dark'] {
  --color-headfoot: #353535;
  --color-main: #080708;
  --color-text: white;
}


@layer base {
  input::placeholder {
    color: gray;
  }

  main {
    @apply w-[100vw] min-h-[var(--mainH)] flex justify-center bg-main pt-4 px-4 sm:px-8 md:px-16 lg:px-32 2xl:px-48
  }

  header {
    @apply w-[100vw] bg-headfoot h-[var(--headH)]
  }

  footer {
    @apply w-[100vw] bg-headfoot h-[var(--footH)]
  }

  section {
    @apply flex w-full max-w-5xl flex-col items-center gap-4 xs:gap-6 sm:gap-12 md:gap-6 py-4
  }
}

@layer components {
  .resPadding {
    @apply px-4 sm:px-8 md:px-16 lg:px-32 2xl:px-48
  }

  .heroDiv {
    @apply flex text-lg sm:text-2xl flex-col gap-8 justify-evenly grow-1
  }

  .navLink {
    @apply rounded-full cursor-pointer h-6 flex items-center justify-center w-fit px-4 hover:bg-main;
  }

  .mainHeading {
    @apply flex flex-col justify-center items-center gap-4
  }

  .pageTitle {
    @apply text-center text-4xl sm:text-5xl md:text-6xl font-bold
  }
}

:root {
  --headH: 120px;
  --footH: 64px;
}