@import "tailwindcss";

@theme {
  --color-headfoot: #F8F3D9;
  --color-main: #B9B28A;
  --color-third: #EBE5C2;
  --color-fourth: #504B38;
  --color-anti: ;
  --color-disabled: #EBE5C244
}

:root {
  --mainH: calc(100vh - var(--headH) - var(--footH));
}

[data-theme='light'] {
  --color-main: white;
  --color-anti: black;
}

[data-theme='dark'] {
  --color-main: black;
  --color-anti: white;
}


@layer base {
  main {
    @apply w-[100vw] p-4 md:p-8 lg:p-12 min-h-[var(--mainH)] bg-main
  }

  header {
    @apply w-full bg-headfoot h-[var(--headH)]
  }

  footer {
    @apply w-full bg-headfoot h-[var(--footH)]
  }
}

@layer components {
  .resPadding {
    @apply px-2 sm:px-4 md:px-8 lg:px-12
  }

  .navLink {
    @apply cursor-pointer p-2 h-12 flex items-center justify-center w-24 hover:bg-third;
  }
}

:root {
  --headH: 64px;
  --footH: 64px;
}