@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-headfoot: #000814;
  --color-main: ;
  --color-third: #222;
  --color-fourth: #504B38;
  --color-anti: ;
  --color-disabled: ;
  --color-text: ;
  --breakpoint-xs: 30rem;
}

:root {
  --mainH: calc(100vh - var(--headH) - var(--footH));
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

[data-theme='light'] {
  --color-headfoot: gray;
  --color-main: white;
  --color-text: #080708;
}

[data-theme='dark'] {
  --color-headfoot: #353535;
  --color-main: #080708;
  --color-text: white;
}


@layer base {
  input::placeholder {
    color: gray;
  }
  main {
    @apply w-[100vw] p-4 md:p-8 lg:p-12 min-h-[var(--mainH)] bg-main
  }

  header {
    @apply w-[100vw] bg-headfoot h-[var(--headH)]
  }

  footer {
    @apply w-[100vw] bg-headfoot h-[var(--footH)]
  }
}

@layer components {
  .resPadding {
    @apply px-2 sm:px-4 md:px-8 lg:px-12
  }

  .navLink {
    @apply rounded-full cursor-pointer h-10 flex items-center justify-center w-36 md:w-24 hover:bg-main;
  }
}

:root {
  --headH: 120px;
  --footH: 64px;
}